Source: imarca
Section: graphics
Priority: optional
Maintainer: maeschter <lehmgrube@7fun.de>
Build-Depends: debhelper (>=9), qt5-qmake (>= 5.5.1), qtbase5-dev (>= 5.5.1), qttools5-dev (>=5.5.1) 
Standards-Version: 3.9.2
#Homepage: https://github.com/maeschter/imarca
#Vcs-Git: git://git.debian.org/collab-maint/imarca.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/imarca.git;a=summary

Package: imarca
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a (>= 5.2.1), libqt5gui5 (>= 5.2.1), libqt5sql5 (>= 5.2.1), libqt5sql5-sqlite (>= 5.2.1), libqt5help5 (>= 5.2.1), libqt5dbus5 (>= 5.2.1), libqt5widgets5 (>= 5.2.1), libqt5printsupport5 (>= 5.2.1), libc6 (>= 2.14), libstdc++6 (>= 5.2), libjpeg8 (>= 8c), libpng16-16 (>=1.6.10), libexiv2-14 (>= 0.25), libopencv-core3.2 (>= 3.2.0), libopencv-imgcodecs3.2 (>= 3.2.0), libopencv-imgproc3.2 (>= 3.2.0)
Description: Image management with database support.
 Imarca is an image management application with database support.
 Features:
  - Unlimited collections/databases
  - Create image collections
  - Open, import or export image collections
  - Create image albums
  - Search by keywords, paths or date
  - Add, remove and rename images
  - Exchange images between databases
  - Tag images by keywords
  - Tag images by date
  - Add descriptions
  - Check collection integrity (by csv file)
  - Copy files from collection to upload dir (by csv file)
  - Move files from download dir to collection (by ecsv file)
  - Show and edit image meta data exif, iptc, xmp
  - Edit images
  - Slide show
